.toggleBorder{
    border-bottom: 2px solid #bbc2ca;
    background-color: #e6e9ef;
}
.inputFields{
    width: 70%;
    margin: 0 auto;
}
.incSize{
    font-size: 20px;
}
#signup-btn{
    border-left: 2px solid #bbc2ca;
}
.borderOur{
    border: 2px solid #bbc2ca;
}
.login-block{
    border-radius: 4px;
}
.hide{
    display: none;
}
#no-margin{
    margin-top: 0px;
}
.inner-addon {
    position: relative;
}

.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .fa {
    left: 0px;
}

.right-addon .fa {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}